{
    "openapi": "3.0.1",
    "info": {
        "title": "CWMS Data API",
        "description": "CWMS REST API for Data Retrieval",
        "version": "2.0.0"
    },
    "servers": [
        {
            "url": "https://cwms-data.usace.army.mil/cwms-data",
            "description": "PRIMARY production server"
        },
        {
            "url": "https://water.usace.army.mil/cwms-data",
            "description": "Alias for the PRIMARY production server"
        }
    ],
    "security": [
        {
            "MultipleAccessManager": []
        }
    ],
    "paths": {
        "/": {
            "get": {
                "summary": "Get CwmsData",
                "operationId": "get",
                "responses": {
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "CwmsAAACacAuth": []
                    },
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/auth/keys/{key-name}": {
            "get": {
                "tags": [
                    "Authorization"
                ],
                "summary": "Get CwmsData auth keys with keyName",
                "description": "View specific key",
                "operationId": "getAuthKeysWithKeyName",
                "parameters": [
                    {
                        "name": "key-name",
                        "in": "path",
                        "description": "Name of the specific key to get more information for. NOTE: Case-sensitive.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiKey"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "CwmsAAACacAuth": []
                    },
                    {
                        "ApiKey": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Authorization"
                ],
                "summary": "Delete CwmsData auth keys with keyName",
                "description": "Delete API key for a user",
                "operationId": "deleteCwmsDataAuthKeysWithKeyName",
                "parameters": [
                    {
                        "name": "key-name",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiKey"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "CwmsAAACacAuth": []
                    },
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/auth/keys": {
            "get": {
                "tags": [
                    "Authorization"
                ],
                "summary": "Get CwmsData auth keys",
                "description": "View all keys for the current user",
                "operationId": "getAuthKeys",
                "responses": {
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ApiKey"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "CwmsAAACacAuth": []
                    },
                    {
                        "ApiKey": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Authorization"
                ],
                "summary": "Post CwmsData auth keys",
                "description": "Create a new API Key for user. The randomly generated key is returned to the caller. A provided key will be ignored.",
                "operationId": "postCwmsDataAuthKeys",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiKey"
                            }
                        }
                    }
                },
                "responses": {
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiKey"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "CwmsAAACacAuth": []
                    },
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/location/category/{category-id}": {
            "get": {
                "tags": [
                    "Location Categories"
                ],
                "summary": "Get CwmsData location category with categoryId",
                "description": "Retrieves requested Location Category",
                "operationId": "getLocationCategoryWithCategoryId",
                "parameters": [
                    {
                        "name": "category-id",
                        "in": "path",
                        "description": "Specifies the Category whose data is to be included in the response.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "office",
                        "in": "query",
                        "description": "Specifies the owning office of the Location Category whose data is to be included in the response.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LocationCategory"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "CwmsAAACacAuth": []
                    },
                    {
                        "ApiKey": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Location Categories"
                ],
                "summary": "Delete CwmsData location category with categoryId",
                "description": "Deletes requested location category",
                "operationId": "deleteCwmsDataLocationCategoryWithCategoryId",
                "parameters": [
                    {
                        "name": "category-id",
                        "in": "path",
                        "description": "The location category to be deleted",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "office",
                        "in": "query",
                        "description": "Specifies the owning office of the location category to be deleted",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "cascade-delete",
                        "in": "query",
                        "description": "Specifies whether to delete any location groups in this location category. Default: false",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "CwmsAAACacAuth": []
                    },
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/location/category": {
            "get": {
                "tags": [
                    "Location Categories"
                ],
                "summary": "Get CwmsData location category",
                "description": "Returns CWMS Location Category Data",
                "operationId": "getLocationCategory",
                "parameters": [
                    {
                        "name": "office",
                        "in": "query",
                        "description": "Specifies the owning office of the location category(ies) whose data is to be included in the response. If this field is not specified, matching location category information from all offices shall be returned.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/LocationCategory"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "CwmsAAACacAuth": []
                    },
                    {
                        "ApiKey": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Location Categories"
                ],
                "summary": "Post CwmsData location category",
                "description": "Create new LocationCategory",
                "operationId": "postCwmsDataLocationCategory",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LocationCategory"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "CwmsAAACacAuth": []
                    },
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/location/group/{group-id}": {
            "get": {
                "tags": [
                    "Location Groups"
                ],
                "summary": "Get CwmsData location group with groupId",
                "description": "Retrieves requested Location Group",
                "operationId": "getLocationGroupWithGroupId",
                "parameters": [
                    {
                        "name": "group-id",
                        "in": "path",
                        "description": "Specifies the location_group whose data is to be included in the response",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "office",
                        "in": "query",
                        "description": "Specifies the owning office of the location group whose data is to be included in the response.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "category-id",
                        "in": "query",
                        "description": "Specifies the category containing the location group whose data is to be included in the response.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LocationGroup"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/CsvV1LocationGroup"
                                }
                            },
                            "application/geo+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unit"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "CwmsAAACacAuth": []
                    },
                    {
                        "ApiKey": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Location Groups"
                ],
                "summary": "Delete CwmsData location group with groupId",
                "description": "Deletes requested location group",
                "operationId": "deleteCwmsDataLocationGroupWithGroupId",
                "parameters": [
                    {
                        "name": "group-id",
                        "in": "path",
                        "description": "The location group to be deleted",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "category-id",
                        "in": "query",
                        "description": "Specifies the location category of the location group to be deleted",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "office",
                        "in": "query",
                        "description": "Specifies the owning office of the location group to be deleted",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "cascade-delete",
                        "in": "query",
                        "description": "Specifies whether to specifies whether to unassign any location assignments. Default: false",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "CwmsAAACacAuth": []
                    },
                    {
                        "ApiKey": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Location Groups"
                ],
                "summary": "Patch CwmsData location group with groupId",
                "description": "Update existing LocationGroup. Allows for renaming group, assigning new locations, and unassigning all locations from the group.",
                "operationId": "patchCwmsDataLocationGroupWithGroupId",
                "parameters": [
                    {
                        "name": "group-id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "replace-assigned-locs",
                        "in": "query",
                        "description": "Specifies whether to unassign all existing locations before assigning new locations specified in the content body Default: false",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "office",
                        "in": "query",
                        "description": "Specifies the office of the user making the request. This is the office that the location, group, and category belong to. If the group and/or category belong to the CWMS office, this only identifies the location.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LocationGroup"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "CwmsAAACacAuth": []
                    },
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/location/group": {
            "get": {
                "tags": [
                    "Location Groups"
                ],
                "summary": "Get CwmsData location group",
                "description": "Returns CWMS Location Groups Data",
                "operationId": "getLocationGroup",
                "parameters": [
                    {
                        "name": "office",
                        "in": "query",
                        "description": "Specifies the owning office of the location group(s) whose data is to be included in the response. If this field is not specified, matching location groups information from all offices shall be returned.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "include-assigned",
                        "in": "query",
                        "description": "Include the assigned locations in the returned location groups. (default: false)",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "location-category-like",
                        "in": "query",
                        "description": "Posix <a href=\"regexp.html\">regular expression</a> matching against the location category id",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/LocationGroup"
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CsvV1LocationGroup"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "CwmsAAACacAuth": []
                    },
                    {
                        "ApiKey": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Location Groups"
                ],
                "summary": "Post CwmsData location group",
                "description": "Create new LocationGroup",
                "operationId": "postCwmsDataLocationGroup",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LocationGroup"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "CwmsAAACacAuth": []
                    },
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/locations/{location-id}": {
            "get": {
                "tags": [
                    "Locations"
                ],
                "summary": "Get CwmsData locations with locationId",
                "description": "Returns CWMS Location Data",
                "operationId": "getLocationsWithLocationId",
                "parameters": [
                    {
                        "name": "location-id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "office",
                        "in": "query",
                        "description": "Specifies the owning office of the location level(s) whose data is to be included in the response. If this field is not specified, matching location level information from all offices shall be returned.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "unit",
                        "in": "query",
                        "description": "Specifies the unit or unit system of the response. Valid values for the unit field are: \n* `EN`  Specifies English unit system.  Location values will be in the default English units for their parameters.\n* `SI`  Specifies the SI unit system.  Location values will be in the default SI units for their parameters.\n* `Other`  Any unit returned in the response to the units URI request that is appropriate for the requested parameters.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Based on the combination of inputs provided the location was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;version=2": {
                                "schema": {
                                    "$ref": "#/components/schemas/Location"
                                }
                            },
                            "application/xml;version=2": {
                                "schema": {
                                    "$ref": "#/components/schemas/Location"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "CwmsAAACacAuth": []
                    },
                    {
                        "ApiKey": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Locations"
                ],
                "summary": "Delete CwmsData locations with locationId",
                "description": "Delete CWMS Location",
                "operationId": "deleteCwmsDataLocationsWithLocationId",
                "parameters": [
                    {
                        "name": "location-id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "office",
                        "in": "query",
                        "description": "Specifies the owning office of the location whose data is to be deleted. If this field is not specified, matching location information will be deleted from all offices.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Based on the combination of inputs provided the location was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "CwmsAAACacAuth": []
                    },
                    {
                        "ApiKey": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Locations"
                ],
                "summary": "Patch CwmsData locations with locationId",
                "description": "Update CWMS Location",
                "operationId": "patchCwmsDataLocationsWithLocationId",
                "parameters": [
                    {
                        "name": "location-id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/Location"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Location"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Based on the combination of inputs provided the location was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "CwmsAAACacAuth": []
                    },
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/locations": {
            "get": {
                "tags": [
                    "Locations"
                ],
                "summary": "Get CwmsData locations",
                "description": "Returns CWMS Location Data.  The Catalog end-point is also capable of retrieving lists of locations and can filter on additional fields.",
                "operationId": "getLocations",
                "parameters": [
                    {
                        "name": "names",
                        "in": "query",
                        "description": "Specifies the name(s) of the location(s) whose data is to be included in the response.  When the `format` parameter is not provided and `application/json;version=2` is specified in the accept header, this parameter is a Posix <a href=\"regexp.html\">regular expression</a> matching against the id",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "office",
                        "in": "query",
                        "description": "Specifies the owning office of the location level(s) whose data is to be included in the response. If this field is not specified, matching location level information from all offices shall be returned.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "unit",
                        "in": "query",
                        "description": "Specifies the unit or unit system of the response. Valid values for the unit field are:\n* `EN`  Specifies English unit system.  Location level values will be in the default English units for their parameters.\n* `SI`  Specifies the SI unit system.  Location level values will be in the default SI units for their parameters.\n* `Other`  Any unit returned in the response to the units URI request that is appropriate for the requested parameters.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "datum",
                        "in": "query",
                        "description": "Specifies the elevation datum of the response. This field affects only vertical datum. Valid values for this field are:\n* `NAVD88`  The elevation values will in the specified or default units above the NAVD-88 datum.\n* `NGVD29`  The elevation values will be in the specified or default units above the NGVD-29 datum.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Specifies the encoding format of the response. Valid values for the format field for this URI are:\n\n* `tab`\n* `csv`\n* `xml`\n* `wml2` (only if name field is specified)\n* `json` (default)\n\n* `geojson`",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;version=2": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Location"
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unit"
                                }
                            },
                            "text/tab-separated-values": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unit"
                                }
                            },
                            "application/vnd.opengis.waterml+xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unit"
                                }
                            },
                            "application/geo+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unit"
                                }
                            },
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unit"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "CwmsAAACacAuth": []
                    },
                    {
                        "ApiKey": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Locations"
                ],
                "summary": "Post CwmsData locations",
                "description": "Create new CWMS Location",
                "operationId": "postCwmsDataLocations",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Location"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/Location"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "CwmsAAACacAuth": []
                    },
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/states": {
            "get": {
                "tags": [
                    "States"
                ],
                "summary": "Get CwmsData states",
                "operationId": "getStates",
                "responses": {
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "A list of states.",
                        "content": {
                            "application/json;version=2": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/State"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "CwmsAAACacAuth": []
                    },
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/counties": {
            "get": {
                "tags": [
                    "Counties"
                ],
                "summary": "Get CwmsData counties",
                "operationId": "getCounties",
                "responses": {
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "A list of counties.",
                        "content": {
                            "application/json;version=2": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/County"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "CwmsAAACacAuth": []
                    },
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/offices/{office}": {
            "get": {
                "tags": [
                    "Offices"
                ],
                "summary": "Get CwmsData offices with office",
                "operationId": "getOfficesWithOffice",
                "parameters": [
                    {
                        "name": "office",
                        "in": "path",
                        "description": "The 3 letter office ID you want more information for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "(CWMS-Data-Format-Deprecated: 2024-11-01 in favor of Accept header) Specifies the encoding format of the response. Valid value for the format field for this URI are:\r\n* `tab`\r\n* `csv`\r\n* `xml`\r\n* `json` (default)",
                        "deprecated": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "A list of offices.",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/OfficeFormatV1"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Office"
                                }
                            },
                            "application/json;version=1": {
                                "schema": {
                                    "$ref": "#/components/schemas/OfficeFormatV1"
                                }
                            },
                            "application/json;version=2": {
                                "schema": {
                                    "$ref": "#/components/schemas/Office"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Office"
                                }
                            },
                            "application/xml;version=1": {
                                "schema": {
                                    "$ref": "#/components/schemas/OfficeFormatV1"
                                }
                            },
                            "application/xml;version=2": {
                                "schema": {
                                    "$ref": "#/components/schemas/Office"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "CwmsAAACacAuth": []
                    },
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/offices": {
            "get": {
                "tags": [
                    "Offices"
                ],
                "summary": "Get CwmsData offices",
                "operationId": "getOffices",
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "description": "(CWMS-Data-Format-Deprecated: 2024-11-01 in favor of Accept header) Specifies the encoding format of the response. Valid value for the format field for this URI are:\r\n\n* `tab`\r\n\n* `csv`\r\n \n* `xml`\r\n\n* `json` (default)",
                        "deprecated": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "has-data",
                        "in": "query",
                        "description": "A flag ('True'/'False') When set to true this returns offices that have operational data. Default value is <b>False</b>,. <a href=\"https://github.com/USACE/cwms-data-api/issues/321\" target=\"_blank\">Feature #321</a>",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "A list of offices.",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/OfficeFormatV1"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Office"
                                    }
                                }
                            },
                            "application/json;version=1": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/OfficeFormatV1"
                                    }
                                }
                            },
                            "application/json;version=2": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Office"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "CwmsAAACacAuth": []
                    },
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/units": {
            "get": {
                "tags": [
                    "Units"
                ],
                "summary": "Get CwmsData units",
                "operationId": "getUnits",
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Specifies the encoding format of the response. Valid value for the format field for this URI are:\n* `tab`\n* `csv`\n* `xml`\n* `json` (default)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK"
                    },
                    "501": {
                        "description": "The format requested is not implemented"
                    }
                },
                "security": [
                    {
                        "CwmsAAACacAuth": []
                    },
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/parameters": {
            "get": {
                "tags": [
                    "Parameters"
                ],
                "summary": "Get CwmsData parameters",
                "operationId": "getParameters",
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Specifies the encoding format of the response. Valid value for the format field for this URI are:\n* `tab`\n* `csv`\n* `xml`\n* `json` (default)",
                        "deprecated": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "office",
                        "in": "query",
                        "description": "Specifies the owning office of the parameters whose data is to be included in the response. If this field is not specified, the session user's default office will be used.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;version=2": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Parameter"
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Parameter"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "CwmsAAACacAuth": []
                    },
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/timezones": {
            "get": {
                "tags": [
                    "TimeZones"
                ],
                "summary": "Get CwmsData timezones",
                "operationId": "getTimezones",
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Specifies the encoding format of the response. Valid value for the format field for this URI are:\n* `tab`  \n* `csv`  \n* `xml`  \n* `json`  (default)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CdaError"
                                }
                            }
                        }
                    },
[...]
